/* Scrollbar Style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #001f3f; /* Dark Blue Background */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00d8ff; /* Neon Blue */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #009dcd;
}
